.dot {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
}

.ellipsis {
  position: absolute;
  right: -5px;
  top: -15px;
}

.cog {
  position: absolute;
  right: -5px;
  top: -5px;
}
